# Ignore node_modules folder
node_modules/
package-lock.json

# Ignore log files
*.log

# Ignore environment variable file (e.g., .env)
.env
# .gitignore
.env

# Ignore all .json files under resources/
resources/json/**/*.json
/logs/


# Ignore npm package lock file
package-lock.json
yarn.lock

# Ignore OS files
.DS_Store

# Ignore coverage folder (if using test coverage)
coverage/

# Ignore IDE/editor-specific files (VSCode, JetBrains, etc.)
.vscode/
.idea/

# Ignore build output folders (for example, if you're using webpack or build tools)
dist/
build/

# Ignore other common artifacts
*.bak
*.swp

/server/resources/json
